<!DOCTYPE html>
<html>
  <head>
    <title>Mercator Legacy Importer</title>
    <%= stylesheet_link_tag    "mercator_legacy_importer/application", media: "all" %>
    <%= javascript_include_tag "mercator_legacy_importer/application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>